<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
</head>
<body>
{% extends 'learning_logs/base.html' %}

{% block header %}
<h3>Topics</h3>
{% endblock header %}

{% block content %}

<u1>
    {% for topic in topics %}
    <li>
        <h4><a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
        </h4>
    </li>
    {% empty %}
    <li>No topics have been added yet</li>
    {% endfor %}
</u1>
<h4><a href="{% url 'learning_logs:new_topic' %}">Add new topic:</a></h4>
{% endblock content %}
</body>
</html>